# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.hex
*.elf
*.map

ble_app_blinky/Output
ble_app_blinky/hex
nRF5_SDK_17.0.2_d674dde
s140nrf52720
.sconsign.dblite
build
.vscode

*.pptx
*.pdf
*.mp4